<% @new_post.each do |n| %>
  <div class="padding-bottom-div">
    <div class="card">
      <div class="container padding-top-div">
        <%= link_to post_path(n), class: "card" do %>
          <%= image_tag "#{n.image}", class: "card w-100" %>
        <% end %>
      </div>
      <div class="container padding-top-div">
        <div class="row">
          <div class="col-sm-9">
            <%= link_to post_path(n), class: "" do %>
              <h5><%= n.title %></h1>
            <% end %>
            <p><%= n.content %></p>
          </div>
          <div class="col-sm-3">
            <p><%= time_ago_in_words(n.created_at) %> trước</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

