<% @new_post.each do |n| %>
  <div class="padding-bottom-div">
    <div class="card">
      <div class="container padding-top-div">
        <%= link_to post_path(n), style: "color: #2b2b2b" do %>
          <h3 class=""><%= n.title %></h3>
        <% end %>
        <p class="lead">
          by
          <a href="#">Bog của tui</a>
        </p>
        <p><%= l n.created_at, format: :defaut %></p>
      </div>
      <div class="container">
        <%= link_to post_path(n), class: "card" do %>
          <%= image_tag "#{n.image}", class: "img-fluid rounded" %>
        <% end %>
      </div>
      <div class="container padding-top-div">
        <p class="text-overflow"><%= n.content %></p>
      </div>
    </div>
  </div>
<% end %>

