<div class="container">
  <div class="container-home">
    <div class="row">
      <div class="col-sm-8">
        <div id="my-posts" style="padding-top: 24px;">
          <%= render "new_post" %>
        </div>
        <div id="infinite-scrolling">
          <%= will_paginate @new_post %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card my-4">
          <h5 class="card-header"><%= t "search" %></h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Search</button>
              </span>
            </div>
          </div>
        </div>

        <div class="card my-4">
          <h5 class="card-header"><%= t "about_me" %></h5>
          <div class="card-body">
            <%= link_to "#", class: "" do %>
              <%= image_tag "viet-nam.jpg", class: "card w-100" %>
            <% end %>
            <p><%= t"about_me_details" %></p>
          </div>
        </div>

        <div class="card my-4">
          <h5 class="card-header"><%= t "follow_me" %></h5>
          <div class="card-body">
            <p>Some text..</p>
          </div>
        </div>

        <div class="card my-4">
          <h5 class="card-header"><%= t "top_post" %></h5>
          <div class="card-body">
            <%= render "top_post" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
