<% @hot_post.each_with_index do |n, i| %>
  <% if i == 0 %>
    <div class="container-hot-post1">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to post_path(n), class: "" do %>
            <%= image_tag "#{n.image}", class: "image" %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <%= link_to post_path(n), style: "color: black" do %>
            <p><%= n.title %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container-hot-post">
      <div class="row">
        <div class="col-sm-3">
          <%= link_to post_path(n), class: "" do %>
            <%= image_tag "#{n.image}", class: "image" %>
          <% end %>
        </div>
        <div class="col-sm-9">
          <%= link_to post_path(n), style: "color: black" do %>
            <p><%= n.title %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


