<% @posts_topic.each do |p| %>
  <div class="padding-bottom-div">
    <div class="card">
      <div class="container padding-top-div">
        <%= link_to post_path(p), style: "color: #2b2b2b" do %>
          <h3 class=""><%= p.title %></h3>
        <% end %>
        <p class="lead">
          by
          <a href="#"><%= p.user.name %></a>
        </p>
        <p><%= l p.created_at, format: :defaut %></p>
      </div>
      <div class="container">
        <%= link_to post_path(p), class: "card" do %>
          <%= image_tag "#{p.image}", class: "img-fluid rounded height_image" %>
        <% end %>
      </div>
      <div class="container padding-top-div">
        <p class="text-overflow"><%= p.content %></p>
      </div>
    </div>
  </div>
<% end %>

