<div class="container">
  <div class="container-home">
    <div class="row">
      <div class="col-sm-8">
        <h5 class="card-header"><%= t(".topic_post", topic: @topic.name,
        posts: @posts_topic.size)  %></h5>
        <% if @posts_topic.size > 0 %>
          <%= render "posts_topic" %>
        <% else %>
          <div class="padding-bottom-div">
            <div class="card">
              <div class="container padding-top-div">
                <h1>Không có post nào.</h1>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= render "share/search" %>

        <%= render "share/about_me" %>

        <%= render "share/hashtags" %>

        <div class="card my-4">
          <h5 class="card-header"><%= t "top_post" %></h5>
          <div class="card-body">
            <%= render "share/top_post" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
