<% @categories.each do |c| %>
  <tr>
    <td>
      <div id="name_category_<%= c.id %>">
        <%= c.name %>
      </div>
      <div id="form_edit_category_<%= c.id %>">
      </div>
    </td>
    <td><%= link_to t("edit"), edit_admin_category_path(c), remote: true %></td>
    <td><%= link_to t("delete"), admin_category_path(c), method: :delete, remote: true,
    data: { confirm: "Bạn chắc chắn muốn xóa?" } %></td>
  </tr>
<% end %>

