<div class="container">
  <div class="container-home">
    <div class="row">
      <div class="col-sm-8">
        <%= render "post_details" %>
      </div>
      <div class="col-sm-4">
        <%= render "share/search" %>

        <%= render "share/about_me" %>

        <%= render "share/follow_me" %>

        <div class="card my-4">
          <h5 class="card-header"><%= t "top_post" %></h5>
          <div class="card-body">
            <%= render "share/top_post" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
