<div class="container">
  <div class="container-home">
    <div class="row">
      <div class="col-sm-8">
        <%= render "post_details" %>
      </div>
      <div class="col-sm-4">
        <div class="padding-bottom-div">
          <div class="card">
            <div class="container">
              <div class="title">
                <h2><%= t "about_me" %></h2>
              </div>
              <%= link_to "#", class: "" do %>
                <%= image_tag "viet-nam.jpg", class: "card w-100" %>
              <% end %>
              <p><%= t"about_me_details" %></p>
            </div>
          </div>
        </div>
        <div class="padding-bottom-div">
          <div class="card">
            <div class="container">
              <div class="title">
                <h3><%= t "follow_me" %></h3>
              </div>
              <p>Some text..</p>
            </div>
          </div>
        </div>
        <div class="padding-bottom-div">
          <div class="card">
            <div class="container">
              <div class="title">
                <h3><%= t "top_post" %></h3>
              </div>
              <%= render "static_pages/top_post" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
